<ion-header>
  <ion-toolbar>
    <ion-title>restaurantList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 
  <ion-list>
    <ion-item *ngFor="let item of Restaurents" (click)="restaurentList(item.id)">
      <ion-avatar slot="start">
        <ion-img [src]="item.imege"></ion-img>
      </ion-avatar>
      <ion-label>{{item.name}}</ion-label>
    </ion-item>
    <div *ngIf="!Restaurents?.length">
      <img src="../../../assets/629-empty-box.gif" alt="empty">
    </div>
  </ion-list>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="addRestaurent()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
</ion-content>
